
@{
    ViewData["Title"] = "AllTui";
}

<h1>退货列表</h1>

<script src="~/layuiadmin/layui/layui.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
@*<script src="~b/jquery/dist/jquery.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>


<button type="button" class="layui-btn layui-btn-normal" id="Btn_Add">新增退货</button>

<div class="layui-colla-content layui-show">
    <div class="layui-inline">
        <label class="layui-label">单据号：</label>
    </div>
    <div class="layui-inline">
        <input type="text" placeholder="请输入单据号或客户或备注" id="where" style="width:250px" class="layui-input" />
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:20px">
        <label class="layui-label">日期：</label>
    </div>
    <div class="layui-inline">
        <input type="date" id="date" class="layui-input" />
    </div>

    <div class="layui-inline" style="margin-left:20px">
        <select id="xiao" class="layui-select">
        </select>
    </div>

    <div class="layui-inline" style="margin-left:20px">
        <select id="shou" class="layui-select">
            <option value="-1">收款状态</option>          
            <option value="2">已退款</option>
            <option value="3">未退款</option>

        </select>
    </div>

    <div class="layui-inline">
        <button type="button" class="layui-btn layui-btn-radius" id="Cha">查询结果</button>       
    </div>

</div>


@*<p>
    <input type="text" placeholder="请输入单据号或客户或备注" id="where" />
    日期：<input type="date" id="date" />
    <select id="xiao">
    </select>
    <select id="shou">
        <option value="-1">收款状态</option>
        <option value="0">未付款</option>
        <option value="1">已付款</option>
        <option value="2">已退款</option>
        <option value="3">未退款</option>

    </select>
    <button type="button" class="layui-btn layui-btn-radius" id="Cha">查询结果</button>
   
</p>*@


<table id="tb" class="layui-table" lay-skin="line">
    <thead>
        <tr>
            <td>单据日期</td>
            <td>单据编号</td>
            <td>客户</td>
            <td>销售金额</td>
            <td>优惠后金额</td>
            <td>已付款</td>
            <td>收款状态</td>
            <td>操作</td>

        </tr>

    </thead>


</table>
<p>
    <a href="javascript:Show('First')">首页</a>
    <a href="javascript:Show('Prv')">上一页</a>
    <a href="javascript:Show('Next')">下一页</a>
    <a href="javascript:Show('Last')">尾页</a>
</p>





<script>

    var pageSize = 3;
    var pageNumber = 1;
    var count = 0;


    $(function () {
        Xiao();

    })

    function Xiao() {

        $.ajax({
            url: "https://localhost:44300/api/showXiao",
            type: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#xiao").empty();
                var str = "";
                str += "<option value='-1'>销售人员</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.seId + "' >" + n.seName + "</option>"
                })
                $("#xiao").append(str);

                Show('First');
            }
        })

    }

    $("#Cha").click(function () {
        Show('First');
    })


    function Show(pan) {
        var where = $("#where").val();
        var date = $("#date").val();
        var xiao = parseInt($("#xiao").val());
        var shou = parseInt($("#shou").val());

        switch (pan) {
            case 'First':
                pageNumber = 1;
                break;
            case 'Prv':
                if (pageNumber - 1 != 0) {
                    pageNumber = pageNumber - 1;
                }
                else {
                    pageNumber = 1;

                }
                break;
            case 'Next':
                if (pageNumber + 1 > count) {
                    pageNumber = count;
                }
                else {
                    pageNumber = pageNumber + 1;

                }
                break;
            case 'Last':
                pageNumber = count;
                break;
            default: break;

        }        
        $.ajax({
            url: "https://localhost:44300/api/showAllTui?pageSize=" + pageSize + "&pageNumber=" + pageNumber + "&where=" + where + "&date=" + date + "&xiao=" + xiao + "&shou=" + shou,
            type: "get",
            dataType: "json",
            success: function (result) {
                ShowList(result.list)
                count = result.count;
            }
        })

    }

    function ShowList(result) {
        var str = "";
        var state = "";


        $("#tb tr:gt(0)").empty();
        $.each(result, function (i, n) {

            if (n.cState == 0) {
                state = "未付款"

            }
            else if (n.cState == 1) {
                state = "已付款"
            }
            else if (n.cState == 2) {
                state = "已退款"
            }
            else {
                state = "未退款"
            }

            str += "<tbody><tr><td>" + n.cTime + "</td>";
            str += "<td>" + n.cleaNumber + "</td>";
            str += "<td>" + n.clientName + "</td>";
            str += "<td>" + (n.number * n.sellMoney) + "</td>";
            str += "<td>" + n.sMoney + "</td>";
            str += "<td>" + n.sMoney + "</td>";
            str += "<td>" + state + "</td>";
            str += "<td><a href='javascript: Shan(" + n.clearId + ")'>删除|</a><a href='javascript: Xiu(" + n.clearId + ")'>修改</td ></tr></tbody> ";

        })
        $("#tb").append(str);

    }

    function Shan(id) {

        $.ajax({
            url: "https://localhost:44300/api/shan?shanId=" + id,
            type: "get",
            dataType: "json",
            success: function (result) {
                ShowList(result)

            }
        })


    }
    function Xiu(id) {
        location.href = "/OutStock/Update?id="+id;
        //<a href='/OutStock/Update?id=" + n.clearId+"'>修改
    }

    $("#Btn_Add").click(function () {
        location.href = "/OutStock/Tui";
    })

</script>



