@model Model.OutModel.Insert

@{
    ViewData["Title"] = "Inserts";
}



<h2>新增出货</h2>

<script src="~/layuiadmin/layui/layui.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />

<p>
    客户：<input type="text" placeholder="符号家" id="client" />

    <select id="xiao">
    </select>
    单据日期：<input type="date" id="date" />
    单据编号：<span id="bian"></span>
    <button type="button" class="layui-btn layui-btn-radius" id="Cha">查询结果</button>

</p>

<table id="tb" class="table table-bordered">
    <tr>
        <td>商品</td>
        <td>单位</td>
        <td>仓库（批量）</td>
        <td>数量</td>
        <td>销售单价</td>
        <td>折扣率（%）</td>
        <td>折扣额</td>
        <td>销售金额</td>
        <td>操作</td>
    </tr>

</table>

<input type="hidden" id="allMoney"/>
<input type="hidden" id="realMoney" />
<h4>Insert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Inserts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <p>
                    客户：
                    <input asp-for="CliName" id="CliName" class="form-control" />
                    <span asp-validation-for="CliName" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <p>
                    销售人员：
                    <input asp-for="MName" id="MName" class="form-control" />
                    <span asp-validation-for="MName" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <p>
                    商品名称：
                    <select id="Sid" class="form-control">
                    </select>
                </p>
            </div>

            <div class="form-group">
                <p>
                    数量：
                    <input asp-for="Number" id="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <p>
                    价格：
                    <input asp-for="SellMoney" id="SellMoney" class="form-control" />
                    <span asp-validation-for="SellMoney" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <p>
                    折扣率：
                    <input asp-for="Rate" id="Rate" class="form-control" />
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </p>


            </div>
            <div class="form-group">
                <p>
                    折扣额：
                    <input asp-for="Discount" id="Discount" class="form-control" disabled/>
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <p>
                    优惠后金额：
                    <input asp-for="SMoney" id="SMoney" class="form-control" disabled />
                    <span asp-validation-for="SMoney" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <p>
                    地址：
                    <input asp-for="Addresses" id="Addresses" class="form-control" />
                    <span asp-validation-for="Addresses" class="text-danger"></span>
                </p>

            </div>
            <div class="form-group">
                <p>
                    添加时间：
                    <input asp-for="CTime" id="CTime" class="form-control" />
                    <span asp-validation-for="CTime" class="text-danger"></span>
                </p>
            </div>
            <div class="form-group">

                <p>
                    结算账户：
                    <select id="AId" class="form-control">
                    </select>
                </p>

            </div>

            <div class="form-group">
                <input type="button" value="添加出货" id="insert" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>


<script>
    $(function () {


        var myDate = new Date();

        var year = myDate.getFullYear();        //获取当前年
        var month = myDate.getMonth() + 1;   //获取当前月
        var date = myDate.getDate();            //获取当前日


        //var h = myDate.getHours();              //获取当前小时数(0-23)
        //var m = myDate.getMinutes();          //获取当前分钟数(0-59)
        //var s = myDate.getSeconds();
        //+ getNow(h) + getNow(m) + getNow(s)
        var now = year + getNow(month) + getNow(date) ;
        $("#bian").html("CH" + now)


        Xiao();
        Pay();
        Commind();
       
    })

    function Xiao() {

        $.ajax({
            url: "https://localhost:44300/api/showXiao",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#xiao").empty();
                var str = "";
                str += "<option value='-1'>销售人员</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.seId + "' >" + n.seName + "</option>"
                })
                $("#xiao").append(str);

                Show();
            }
        })

    }
    function Pay() {

        $.ajax({
            url: "https://localhost:44300/api/showPay",
            type: "get",
            dataType: "json",          
            success: function (result) {
                $("#AId").empty();
                var str = "";
                str += "<option value='-1'>请选择结算账户</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.aId + "' >" + n.accountName + "</option>"
                })
                $("#AId").append(str);

            }
        })

    }
   

    function Commind() {

        $.ajax({
            url: "https://localhost:44300/api/showCommind",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#Sid").empty();
                var str = "";
                str += "<option value='-1'>请选择商品</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.sid + "' >" + n.sName + "</option>"
                })
                $("#Sid").append(str);

            }
        })

    }

    function Show() {
        var client = $("#client").val();
        var xiao = parseInt($("#xiao").val());
        var date = $("#date").val();

        $.ajax({
            url: "https://localhost:44300/api/showIns?client=" + client + "&xiao=" + xiao + "&date=" + date,
            type: "get",
            dataType: "json",
            success: function (result) {
                ShowList(result)

            }
        })

    }


    function ShowList(result) {
        var str = "";

        $("#tb tr:gt(0)").empty();
        $.each(result, function (i, n) {

            str += "<tr><td>" + n.sName + "</td>";
            str += "<td>" + n.units + "</td>";
            str += "<td>" + n.wName + "</td>";
            str += "<td>" + n.number + "</td>";
            str += "<td>" + n.sellMoney + "</td>";
            str += "<td>" + n.rate + "</td>";
            str += "<td>" + (n.number * n.sellMoney * n.rate) + "</td>";
            str += "<td>" + n.sMoney + "</td>";

            str += "<td><a href='javascript: Shan(" + n.clearId + ")'>删除|</a><a href='javascript: Xiu(" + n.clearId + ")'>修改|</a>  </td ></tr> ";

        })
        $("#tb").append(str);

    }
    $("#Cha").click(function () {
        Show();
    })

    $("#insert").click(function () {
        list = {};
        list.CleaNumber = $("#bian").html();
        list.CliName = $("#CliName").val();
        list.MName = $("#MName").val();
        list.SName = $("#SName").val();
        list.Sid = parseInt($("#Sid").val());
        list.Number = parseInt($("#Number").val());
        list.SellMoney = parseFloat($("#SellMoney").val());
        list.Rate = parseFloat($("#Rate").val());
        list.Discount = parseFloat($("#Discount").val())
        list.SMoney = parseFloat($("#SMoney").val());
        list.Addresses = $("#Addresses").val();
        list.CTime = $("#CTime").val();
        list.AId = parseInt( $("#AId").val());        
       
        $.ajax({
            url: "https://localhost:44300/api/insert",
            data: JSON.stringify(list),
            type: "post",
            dataType: "text",
            contentType:"application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功")

                }
            }
        })
        
    })
    $("#Rate").change(function () {
        change();
    });
    $("#SellMoney").change(function () {
        change();
    })
    $("#Number").change(function () {
        change();
    })

    function change() {
        $("#allMoney").val(parseInt($("#Number").val()) * parseFloat($("#SellMoney").val()))
        $("#realMoney").val(parseInt($("#Number").val()) * parseFloat($("#SellMoney").val()) * parseFloat($("#Rate").val()))
        $("#Discount").val($("#allMoney").val() * $("#Rate").val())
        $("#SMoney").val($("#allMoney").val() - $("#allMoney").val() * $("#Rate").val())

    }


   
   


    function loadMoney() {
        

    }


    function Shan(id) {



    }
    function Xiu(id) {


    }

    //判断是否在前面加0
    function getNow(s) {
        return s < 10 ? '0' + s : s;
    }





</script>














