@model Model.ClearModel

@{
    ViewData["Title"] = "update";
}

<h1>update</h1>


<script src="~/layuiadmin/layui/layui.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
@*<script src="~b/jquery/dist/jquery.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>


<h4>修改出货列表</h4>
<hr />

<div class="layui-colla-content layui-show">
    <div class="layui-inline" style="margin-top:10px">
        <label class="layui-label">单据编号：</label>
    </div>
    <div class="layui-inline">
        <input id="CleaNumber" class="layui-input" type="text" style="width:100px" />
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:50px">
        <label class="layui-label">客户：</label>
    </div>
    <div class="layui-inline">
        <select class="layui-select" id="CliId">
        </select>
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:50px">
        <label class="layui-label">销售人员：</label>
    </div>
    <div class="layui-inline">
        <select id="MId" class="layui-select">
        </select>

    </div>
</div>

<div class="layui-colla-content layui-show">
    <div class="layui-inline" style="margin-top:10px">
        <label class="layui-label">商品名称：</label>
    </div>
    <div class="layui-inline">
        <select class="layui-select" id="SId">
        </select>
    </div>

</div>


<div class="layui-colla-content layui-show">
    <div class="layui-inline" style="margin-top:10px">
        <label class="layui-label">数量：</label>
    </div>
    <div class="layui-inline">
        <input id="Number" class="layui-input" type="text" style="width:100px" />
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:75px">
        <label class="layui-label">价格：</label>
    </div>
    <div class="layui-inline">
        <input id="SellMoney" class="layui-input" type="text" style="width:100px" />
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:60px">
        <label class="layui-label">折扣率：</label>
    </div>
    <div class="layui-inline">
        <input id="Rate" class="layui-input" type="text" style="width:100px" />
    </div>
</div>

<div class="layui-colla-content layui-show">
    <div class="layui-inline" style="margin-top:10px">
        <label class="layui-label">折扣额：</label>
    </div>
    <div class="layui-inline">
        <input id="Discount" class="layui-input" type="text" disabled />
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:100px">
        <label class="layui-label">优惠后金额：</label>
    </div>
    <div class="layui-inline">
        <input id="SMoney" class="layui-input" type="text" disabled />
    </div>
</div>

<div class="layui-colla-content layui-show">
    <div class="layui-inline" style="margin-top:10px">
        <label class="layui-label">地址：</label>
    </div>
    <div class="layui-inline">
        <input id="Addresses" class="layui-input" type="text" style="width:200px" />
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:50px">
        <label class="layui-label">添加时间：</label>
    </div>
    <div class="layui-inline">
        <input id="CTime" class="layui-input" type="text" style="width:200px" />
    </div>

    <div class="layui-inline" style="margin-top:10px;margin-left:50px">
        <label class="layui-label">结算账户：</label>
    </div>
    <div class="layui-inline">
        <select id="AId" class="layui-select">
        </select>
    </div>
</div>

<div class="layui-colla-content layui-show">
    <input type="button" value="修改" id="Edit" class="btn btn-primary" />
    <input type="button" value="返回列表" id="Back" class="btn btn-primary" />
</div>


<input type="hidden" id="allMoney" />
<input type="hidden" id="realMoney" />

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    $(function () {
        var id =  @ViewBag.id;
        if (id != -1) {

            fan();
        }
        Client();
        Xiao();
        Commind();
        Account();


    })

    function Client() {

        $.ajax({
            url: "http://49.234.34.192:7086/api/showClient",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#CliId").empty();
                var str = "";
                str += "<option value='-1'>请选择客户</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.cLientId + "' >" + n.clientName + "</option>"
                })
                $("#CliId").append(str);

            }
        })

    }

    function Xiao() {

        $.ajax({
            url: "http://49.234.34.192:7086/api/showXiao",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#MId").empty();
                var str = "";
                str += "<option value='-1'>请选择销售人员</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.seId + "' >" + n.seName + "</option>"
                })
                $("#MId").append(str);

            }
        })

    }

    function Commind() {

        $.ajax({
            url: "http://49.234.34.192:7086/api/showCommind",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#SId").empty();
                var str = "";
                str += "<option value='-1'>请选择商品</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.sid + "' >" + n.sName + "</option>"
                })
                $("#SId").append(str);

            }
        })

    }
    function Account() {

        $.ajax({
            url: "http://49.234.34.192:7086/api/showPay",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#AId").empty();
                var str = "";
                str += "<option value='-1'>请选择结算账户</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.aId + "' >" + n.accountName + "</option>"
                })
                $("#AId").append(str);

            }
        })

    }

    function fan() {

        $.ajax({
            url: "http://49.234.34.192:7086/api/showOnly?id="+@ViewBag.id,
            type: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                var list = result[0];
                $("#CleaNumber").val(list.cleaNumber)
                $("#CliId").val(list.cliId)
                $("#MId").val(list.mId)
                $("#SId").val(list.sId)
                $("#Number").val(list.number)
                $("#SellMoney").val(list.sellMoney)
                $("#Rate").val(list.rate)
                $("#Discount").val(list.discount)
                $("#SMoney").val(list.sMoney)
                $("#Addresses").val(list.addresses)
                $("#CTime").val(list.cTime)
                $("#AId").val(list.aId)

            }
        })
    }

    $("#Rate").change(function () {
        change();
    });
    $("#SellMoney").change(function () {
        change();
    })
    $("#Number").change(function () {
        change();
    })

    function change() {
        $("#allMoney").val(parseInt($("#Number").val()) * parseFloat($("#SellMoney").val()))
        $("#realMoney").val(parseInt($("#Number").val()) * parseFloat($("#SellMoney").val()) * parseFloat($("#Rate").val()))
        $("#Discount").val($("#allMoney").val() * $("#Rate").val())
        $("#SMoney").val($("#allMoney").val() - $("#allMoney").val() * $("#Rate").val())

    }
    $("#Edit").click(function () {

        list = {};
        list.ClearId = @ViewBag.id;
        list.CleaNumber = $("#CleaNumber").val();

        list.CliId = parseInt($("#CliId").val());
        list.MId = parseInt($("#MId").val());
        list.SId = parseInt($("#SId").val());


        if ($("#Number").val() != 0) {

            list.Number = parseInt($("#Number").val());
        }
        else {
            alert("商品数量为空");
            return;
        }
        if ($("#SellMoney").val() != 0) {

            list.SellMoney = parseFloat($("#SellMoney").val());
        }
        else {
            alert("商品单价为空");
            return;
        }
        if ($("#Rate").val() != 0) {

            list.Rate = parseFloat($("#Rate").val());
        }
        else {
            alert("折扣率为空");
            return;
        }

        if ($("#Addresses").val() != "") {

            list.Addresses = $("#Addresses").val();
        }
        else {
            alert("地址为空");
            return;
        }
        if ($("#CTime").val() != "") {

            list.CTime = $("#CTime").val();
        }
        else {
            alert("创建时间为空");
            return;
        }

        list.Discount = parseFloat($("#Discount").val())
        list.SMoney = parseFloat($("#SMoney").val());
        list.AId = parseInt($("#AId").val());

        $.ajax({
            url: "http://49.234.34.192:7086/api/update",
            data: JSON.stringify(list),
            type: "put",
            dataType: "text",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功")
                    location.href = "/OutStock/Index";
                }
            }
        })

    })

    $("#Back").click(function () {
        location.href = "/OutStock/Index";

    })

</script>

