
@{
    Layout = null;
}

<link href="~/style.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>ERP登录系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
    <link href="css/style.css" rel='stylesheet' type='text/css' />

</head>
<body>
    <script>
        $(document).ready(function (c) {
            $('.close').on('click', function (c) {
                $('.login-form').fadeOut('slow', function (c) {
                    $('.login-form').remove();
                });
            });
        });
    </script>
    <!--SIGN UP-->
    <h1>ERP登录系统</h1>
    <div class="login-form">
        <div class="close"> </div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img src="~/images/avtar.png" />
        </div>
        <form>
            <input type="text" class="text" id="UserName" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
            <div class="key">
                <input type="password" value="Password" id="UserPass" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
            </div>
        </form>
        <div class="signin">
            <input type="button" value="Login" onclick="login()">
        </div>
    </div>
</body>
</html>

<script>
    function login() {
        var UserName = $("#UserName").val();/*='admin'*/
        var UserPass = $("#UserPass").val(); /*= '123456'*/
        //用户名非空验证
        if (UserName == null) {
            alert("用户名不能为空");
        }
        //密码非空验证
        if (UserPass == null) {
            alert("密码不能为空");
        }
        var obj = {};
        obj.UserName = UserName;
        obj.UserPass = UserPass;
        $.ajax({
            url: "http://49.234.34.192:7086/api/Login/IsLogin",
            data: JSON.stringify(obj),
            type: "post",
            dataType: "text",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    //alert("登陆成功")
                    location.href = "/Home/Index";
                    // window.top.location.href = "/Home/MaxZhu";
                }
            }
        });
    }
</script>