
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MaxZhu</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>

        .zong {
            float: left;
         /*   height: 60px;
            width: 80px;*/
            margin-left: 5px;
            margin-top: 200px;
            border: 1px solid gray;
            text-align: center;
        }



    </style>
</head>
<body style="background-color:white">

   @*style="background:url(../images/bg1.jpg);background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;"*@

    <h2 style="text-align:center;color:aqua;">欢迎进入ERP进销存系统</h2>

    <div class="zong">
        <a href="/PurchaseInfo/AddPurchas" style="text-decoration: none">

            <img src="~/Images/采购入库.png" style="height:110px;width:200px" />
           
            <br />

            采购入库
        </a>
    </div>
    <div class="zong">
        <a href="/outStock/Create" style="text-decoration: none">

            <img src="~/Images/销售出库.png" style="height:110px;width:200px" />
            <br />
            销售出库
        </a>
    </div>

    <div class="zong">
        <a href="/Allot/CreateAllot" style="text-decoration: none">

            <img src="~/Images/仓库调拨.png" style="height:110px;width:200px" />
     
            <br />
            仓库调拨
        </a>
    </div>

    <div class="zong">
        <a href="/Allot/ShowChecks" style="text-decoration: none">
            <img src="~/Images/库存盘点.png" style="height:110px;width:200px" />
    
            <br />
            库存盘点
        </a>
    </div>
    <div class="zong">
        <a href="/Capital/Receipt" style="text-decoration: none">

            <img src="~/Images/付款单表.png" style="height:110px;width:200px" />

           
            <br />
            资金收款
        </a>
    </div>
    <div class="zong">
        <a href="/Capital/PayMent" style="text-decoration: none">
            <img src="~/Images/收款单表.png" style="height:110px;width:200px" />

            <br />
            资金付款
        </a>
    </div>














</body>
</html>
