
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
    <div id="service" style="height:450px;width:500px">

    </div>
    <div id="container" style="height:450px;width:500px">

    </div>
</body>
</html>
<script>
    $(function () {
        $.ajax({
            url: "https://localhost:44300/api/capital/Statement",
            type: "get",
            dataType: "json",
            success: function (result) {
                var xx = [];
                var yy = [];
                $(result).each(function () {
                    xx.push(this.yue+"月");
                    yy.push(this.zong);
                })
                Bandle(xx,yy);
            }
        })
        $.ajax({
            url: "https://localhost:44300/api/capital/GetStatement",
            type: "get",
            dataType: "json",
            success: function (result) {
                var str = [];
                $(result).each(function (i,n) {
                    str.push({value: ''+n.zong+'', name:''+n.yue+'月'});
                })               
                Bandels(str);
            }
        })
    })
    function Bandle(xx,yy) {

        var dom = document.getElementById("service");
        var myChart = echarts.init(dom);
        option = null;
        option = {
            color: "red",
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            title: {
                text: '收款单报表',
                left:'center'
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data:xx,// ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '直接访问',
                    type: 'bar',
                    barWidth: '60%',
                    data: yy,//[10, 52, 200, 334, 390, 330, 220]
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }

    }
    function Bandels(str) {
        
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;
            option = {
                backgroundColor: 'white',

                title: {
                    text: '付款单报表',
                    left: 'center',
                    top: 20,
                    textStyle: {
                        color: 'black'
                    }
                },

                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },

                visualMap: {
                    show: false,
                    min: 80,
                    max: 600,
                    inRange: {
                        colorLightness: [0, 1]
                    }
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '50%'],
                        data: str.sort(function (a, b) { return a.value - b.value; }),
                        roseType: 'radius',
                        label: {
                            color: 'rgba(255, 255, 255, 0.3)'
                        },
                        labelLine: {
                            lineStyle: {
                                color: 'rgba(255, 255, 255, 0.3)'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20
                        },
                        itemStyle: {
                            color: '#c23531',
                            shadowBlur: 200,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        },

                        animationType: 'scale',
                        animationEasing: 'elasticOut',
                        animationDelay: function (idx) {
                            return Math.random() * 200;
                        }
                    }
                ]
            };
            if (option && typeof option === "object") {
                 myChart.setOption(option, true);
            }
    }
</script>