@model Model.AllotModel

@{
    ViewData["Title"] = "ADD";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ADD">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AllotId" class="control-label"></label>
                <input asp-for="AllotId" class="form-control" />
                <span asp-validation-for="AllotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllotCode" class="control-label"></label>
                <input asp-for="AllotCode" class="form-control" />
                <span asp-validation-for="AllotCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sid" class="control-label"></label>
                <input asp-for="Sid" class="form-control" />
                <span asp-validation-for="Sid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Units" class="control-label"></label>
                <input asp-for="Units" class="form-control" />
                <span asp-validation-for="Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wid" class="control-label"></label>
                <input asp-for="Wid" class="form-control" />
                <span asp-validation-for="Wid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eid" class="control-label"></label>
                <input asp-for="Eid" class="form-control" />
                <span asp-validation-for="Eid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ATime" class="control-label"></label>
                <input asp-for="ATime" class="form-control" />
                <span asp-validation-for="ATime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsState" class="control-label"></label>
                <input asp-for="IsState" class="form-control" />
                <span asp-validation-for="IsState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
   
</script>


