@model Model.AllotModel

@{
    ViewData["Title"] = "ADD";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <td>   单据日期:<input type="date" id="ATime" /></td>
            </tr>
            <tr>
                <td>   单据编号：<input id="bian" type="text" /></td>
            </tr>
        </table>
     
        
    </div>
    
    <div class="col-md-4">
        <form asp-action="ADD">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>
                    商品名称：
                    <select id="Sid" class="form-control">
                    </select>
                </p>
            </div>
            <div class="form-group">
                单位:
                <input asp-for="Units" class="form-control" />
                <span asp-validation-for="Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                数量:
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>
                    调入仓库：
                    <select id="Wid" class="form-control">
                    </select>
                </p>
            </div>
            <div class="form-group">
                <p>
                    调出仓库：
                    <select id="Eid" class="form-control">
                    </select>
                </p>
            </div>
            <div class="form-group">
                备注:
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsState" class="control-label"></label>
                <input asp-for="IsState" class="form-control" />
                <span asp-validation-for="IsState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="insert" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        var myDate = new Date();

        var year = myDate.getFullYear();        //获取当前年
        var month = myDate.getMonth() + 1;   //获取当前月
        var date = myDate.getDate();            //获取当前日


        var h = myDate.getHours();              //获取当前小时数(0-23)
        var m = myDate.getMinutes();          //获取当前分钟数(0-59)
        var s = myDate.getSeconds();

        var now = year + getNow(month) + getNow(date) + getNow(h) + getNow(m) + getNow(s);
        $("#ATime").html("DB" + now)


        ShowComm();
        ShowWare();
        ShowExportSto();

    })
    //商品下拉
    function ShowComm() {

        $.ajax({
            url: "https://localhost:44300/api/Allot/ShowComm",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#Sid").empty();
                var str = "";
                str += "<option value='0'>请选择商品</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.sid + "' >" + n.sName + "</option>"
                })
                $("#Sid").append(str);

                Show();
            }
        })

    }
    //入库下拉
    function ShowWare() {

        $.ajax({
            url: "https://localhost:44300/api/Allot/ShowWare",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#Wid").empty();
                var str = "";
                str += "<option value='0'>请选择仓库</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.wId + "' >" + n.wName + "</option>"
                })
                $("#WId").append(str);

            }
        })

    }
    //出库下拉
    function ShowWare() {

        $.ajax({
            url: "https://localhost:44300/api/Allot/ShowWare",
            type: "get",
            dataType: "json",
            success: function (result) {
                $("#Eid").empty();
                var str = "";
                str += "<option value='0'>请选择仓库</option>"
                $.each(result, function (i, n) {
                    str += "<option value='" + n.eId + "' >" + n.ename + "</option>"
                })
                $("#EId").append(str);

            }
        })

    }

    //添加按钮
    $("#insert").click(function () {
        list = {};
        list.AllotCode = $("#bian").html();
        list.Sid = parseInt( $("#Sid").val());
        list.Number = parseInt($("#Number").val());
        list.Units = $("#Units").val();
        list.Wid = parseInt($("#Wid").val());
        list.Eid = parseInt($("#Eid").val());
        list.ATime = $("#ATime").val();
        list.Remark = $("#Remark").val();
        list.IsState = 1;


        $.ajax({
            url: "https://localhost:44300/api/Allot/Add",
            data: JSON.stringify(list),
            type: "post",
            dataType: "text",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功")
                    location.href = "Allot/ShowTable";
                }
            }
        })
</script>


