@model Model.AllotModel

@{
    ViewData["Title"] = "ADD";
}
<script src="~/layuiadmin/layui/layui.js"></script>
<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ADD">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AllotCode" class="control-label">单据编号</label>
                <input asp-for="AllotCode" class="form-control" />
                <span asp-validation-for="AllotCode" class="text-danger"></span>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-block">
                    <input type="text" name="Sid" lay-verify="title" autocomplete="off" placeholder="请输入商品名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">单位</label>
                <div class="layui-input-block">
                    <input type="text" name="Units" lay-verify="title" autocomplete="off" placeholder="请输入单位" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-block">
                    <input type="text" name="Number" lay-verify="title" autocomplete="off" placeholder="请输入数量" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">调入仓库</label>
                <div class="layui-input-block">
                    <input type="text" name="Wid" lay-verify="title" autocomplete="off" placeholder="请输入调入仓库" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">调出仓库</label>
                <div class="layui-input-block">
                    <input type="text" name="Eid" lay-verify="title" autocomplete="off" placeholder="请输入调出仓库" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <input type="text" name="Remark" lay-verify="title" autocomplete="off" placeholder="请输入备注" class="layui-input">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="添加" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <a asp-action="Index">返回</a>
</div>



