
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPurchas</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />

</head>
<body>

    <h2 style="text-align:center">添加采购信息</h2>

    <div id="gong">

        <h4>供应商：</h4> <select id="gonghuo" style="width:100px;height:20px;background-color:aliceblue">  </select>
      

        <h4> 商品：</h4> <select id="goods" style="width:100px;height:20px;background-color:aliceblue">
        </select>
    </div>
    <div class="layui-form">


        <table class="layui-table">
            <tr>
                <td>
                    单据编号：
                </td>
                <td>
                    <label id="num"></label>
                </td>
            </tr>
            <tr>
                <td>单据日期：</td>
                <td><input id="Text1" type="date" /></td>
            </tr>
            <tr>
                <td>单位</td>
                <td><label id="da"></label></td>
            </tr>
            <tr>
                <td>仓库</td>
                <td><label id="cu"></label></td>
            </tr>
            <tr>
                <td>商品单价</td>
                <td><label id="pr"></label>元</td>
            </tr>
            <tr>
                <td>折扣率</td>
                <td><input id="TextZL" type="text" /></td>
            </tr>
            <tr>
                <td>折扣额</td>
                <td><label id="mony"></label>元</td>
            </tr>
            <tr>
                <td>采购数量</td>
                <td><input id="TextNum" type="text" /><label id="daw"></label></td>
            </tr>
            <tr>
                <td>采购金额</td>
                <td><label id="cmony"></label>元</td>
            </tr>
            <tr>
                <td>备注</td>
                <td><input id="TextTask" type="text" /></td>
            </tr>

        </table>
    </div>
    <div>
        <h4>结算账户：</h4>  <select id="account" style="width:100px;height:20px;background-color:aliceblue"> </select>


        <input id="Button1" style="margin-left:200px;" type="button" class="layui-btn layui-btn-normal" value="保存新增" onclick="btnadd()" />
        <input id="Button1" style="margin-left:100px;" type="button" class="layui-btn layui-btn-normal" value="返回列表" onclick="btnsel()" />
    </div>

        
   



</body>
</html>
<script>

   





    //首次加载
    $(function ()
    {
        dajubian();
        dropGong();
        dropaccount();
        //供货商下拉框内容改变事件
       // dropGoods($("#gonghuo").val());
        $("#gonghuo").change(function ()
        {

            dropGoods($("#gonghuo").val());
        })
        //商品内容改变事件
        $("#goods").change(function ()
        {
            var goodsId = $("#goods").val();

            $.ajax({

                url: "https://localhost:44300/api/Purchase/ShowCommdityInfo?sid=" + goodsId,
                type: "get",
                success: function (data) {


                    $("#da").text(data.units);
                    $("#cu").text(data.wName);
                    $("#pr").text(data.price);
                    $("#daw").text(data.units);


                }


            });

            //商品单价
                $("#pr").text(null),
                //商品数量
                $("#TextNum").val(null),
                //折扣率
                $("#TextZL").val(null),
                //折扣额
                $("#mony").text(null),
                //采购金额
                $("#cmony").text(null)

        })

       

        //折扣率改变事件
        $("#TextZL").change(function ()
        {
            count();
            //数量文本框内容改变事件
            $("#TextNum").change(function () {
                count();
            });

        })


        
            
    })
    //折扣额采购总额计算公式
    function count()
    {
        //商品单价
        var price = Number($("#pr").text());
        //商品数量
        var snum = Number($("#TextNum").val());
        //折扣率
        var zkl = Number($("#TextZL").val());
        //折扣额
        var zke = Number($("#mony").text());
        //采购金额
        var sumcomy = Number($("#cmony").text());

        //折扣额
        zke = price * zkl;
        $("#mony").text(zke);
        //采购金额
        sumcomy = snum * price - zke;
        if (snum!=0) {

            $("#cmony").text(sumcomy);
        }

    }

    //供货商信息
    function dropGong()
    {
        $.ajax({

            url: "https://localhost:44300/api/Purchase/showSupplier",
            type: "get",
            success: function (data)
            {
                $("#gonghuo").empty();
                $("#gonghuo").append('<option value="">请选择</option>')
                $(data).each(function ()
                {

                    $("#gonghuo").append('<option value="' + this.gid + '">' + this.gname + '</option>')

                })

            }
        })


    }

    //根据供货商Id查询商品信息显示为下拉框
    function dropGoods(gid)
    {
        $.ajax({

            url: "https://localhost:44300/api/Purchase/showCommodity?gid=" + gid,
            type: "get",
            success: function (data) {
                $("#goods").empty();
                $("#goods").append('<option value="">请选择</option>')
                $(data).each(function () {

                    $("#goods").append('<option value="' + this.sid + '">' + this.sName + '</option>')

                })

            }
        })

    }
    //结算账户
    function dropaccount()
    {
        $.ajax({

            url: "https://localhost:44300/api/Purchase/AccountModels",
            type: "get",
            success: function (data) {
                $("#account").empty();
                $("#account").append('<option value=0>请选择</option>')
                $(data).each(function () {

                    $("#account").append('<option value="' + this.aId + '">' + this.accountName + '</option>')

                });

            }
        });



    }
    //单据编号随机生成
    function dajubian()
    {
        var myDate = new Date();

        var year = myDate.getFullYear();//获取当前年
        var month = myDate.getMonth()+1; //获取当前月
        var date = myDate.getDate();    //获取当前日

        var hour = myDate.getHours();       //获取当前小时数（0-23）
        var mintue = myDate.getMinutes();  //获取当前分钟数
        var secound = myDate.getSeconds();  

        var now = year + getNow(month) + getNow(date) + getNow(hour) + getNow(mintue) + getNow(secound);

        var nums = Math.random();
        //生成四位随机数
        out = Math.floor(Math.random() * 10000);
        
        $("#num").text("CG" + now + out);
    }
    //判断是否在前面加0
    function getNow(s)
    {
        return s < 10 ? '0' + s : s;
    }
    //保存数据
    function btnadd()
    {

        //单据编号
        var danju = $("#num").text();
        //供应商编号
        var gongId = parseInt($("#gonghuo").val());
        //单据日期
        var time = $("#Text1").val();
        //商品Id
        var goodsId = parseInt($("#goods").val());
        //折扣率
        var zkl = parseFloat($("#TextZL").val());
        //折扣额
        var dismoney = parseFloat($("#mony").text());
        //采购数量
        var cgnum = parseInt($("#TextNum").val());
        //采购金额
        var caAllmoney = parseFloat($("#cmony").text());
        //备注
        var stack = $("#TextTask").val();
        //结算账户Id
        var accountId = parseInt($("#account").val());

        var state;
        if (accountId == 0) {
            state = 0;
        }
        else
        {
            state = 1;
        }
        var obj = {};
        obj.ReceIptsCode = danju;
        obj.SId = goodsId;
        obj.GId = gongId;
        obj.Number = cgnum;
        obj.Rate = zkl;
        obj.Discount = dismoney;
        obj.CMoney = caAllmoney;
        obj.AId = accountId;
        obj.Datetime = time;
        obj.Remark = stack;
        obj.PayMent = state;
        obj.IsState = 1;

       // console.log(obj);
        $.ajax({

            url: "https://localhost:44300/api/Purchase/AddPurCg",
            type: "post",
            data: JSON.stringify(obj),
            dataType:"json",
            contentType:"application/json",
            success: function (data)
            {

                if (data > 0) {
                    alert("添加成功");
                location.href = "/PurchaseInfo/Purchas";
                  
                }
                else
                {
                    alert("添加失败");
                }
            }
        })




    }

    //返回列表
    function btnsel()
    {
        location.href = "/PurchaseInfo/Purchas";

    }

</script>
