
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchas</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>
    <div>
        <table class="tab table-bordered">
            <tr>
            <td>
                <input id="texNmae" type="text" placeholder="请输入单号或供应商或备注" />
                
                <select id="stateid">
                    <option value="1">已付款</option>
                    <option value="0">未付款</option>

                </select>
                日期：<input id="texTime" type="date" />
                <input id="ButtonSel" type="button" value="查询结果" onclick="btnsel()"/>
            </td>
            </tr>
        </table>
    </div>
    <div>
        <table class=" tab table-bordered" >
            <tr>
                <td>单据Id</td>
                <td>单据日期</td>
                <td>单据编号</td>
                <td>供应商</td>
                <td>购货金额</td>
                <td>已付款</td>
                <td>付款状态</td>
                <td>操作</td>
            </tr>
            <tbody id="tab1">

            </tbody>
        </table>
    </div>

</body>
</html>
<script>
    //首次加载
    

    function btnsel()
    {
        $.ajax({
            url: "https://localhost:44300/api/Purchase/ShowAllInfo",
            type: "get",
            dataType:"json",
            success: function (data)
            {
                $("#tab1").empty();
                $(data).each(function ()
                {
                  var   str = '<tr>' +
                        '<td>' + this.receIptsId + '</td>' +
                        '<td>' + this.datetime + '</td>' +
                        '<td>' + this.receIptsCode + '</td>' +
                        '<td>' + this.gname + '</td>' +
                      '<td>' + this.cMoney + '</td>' +
                      '<td>' + (this.cMoney - this.discount)+ '</td>' +
                        '<td>' + (this.payMent==1?"已付款":"未付款")+ '</td>' +
                        '<td><a href="javascript:updateInfo(' + this.receIptsId + ')">编辑</a> <a href="javascript:deleteInfo(' + this.receIptsId + ')">删除</a> </td>'


                        + '</tr>';
                    $("#tab1").append(str);

                })
            }


        })

    }
    //修改跳转到退货页面反填数据修改状态
    function updateInfo()
    {


    }
    //删除
    function deleteInfo()
    {


    }

</script>
