
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowUpdatePurchas</title>
</head>
<body>
    <h3>退货采购信息的列表</h3>
</body>
</html>
